In [1]:
# importing personal library
import my_functions as mfu

In [2]:
# importing basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
sample_df = pd.read_csv('sample_submission.csv')

In [4]:
train_df.columns

Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [5]:
test_df.columns

Index(['ID', 'Name', 'DateTime', 'AnimalType', 'SexuponOutcome',
       'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [6]:
# we join the two dfs to recover the original?
pet_df = pd.concat([train_df,test_df])

In [7]:
# train and test have different columns... 
pet_df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,ID
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,NaN
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,NaN
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,NaN
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,NaN
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11451,NaN,NaN,2014-07-08 14:50:00,NaN,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,11452.0
11452,NaN,NaN,2014-10-21 12:57:00,NaN,NaN,Cat,Intact Female,2 weeks,Domestic Shorthair Mix,Blue,11453.0
11453,NaN,NaN,2014-09-29 09:00:00,NaN,NaN,Cat,Intact Female,1 year,Domestic Shorthair Mix,Calico,11454.0
11454,NaN,Rambo,2015-09-05 17:16:00,NaN,NaN,Dog,Neutered Male,6 years,German Shepherd Mix,Black/Tan,11455.0
11455,NaN,Gusto,2014-07-12 18:40:00,NaN,NaN,Dog,Intact Male,4 years,Labrador Retriever,Cream,11456.0

In [8]:
# we will use train as our main df
pet_df = train_df.copy()

In [9]:
pet_df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
...,...,...,...,...,...,...,...,...,...,...
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

### Clean the df

In [ ]:
## if possible convert columns to numeric

In [10]:
mfu.to_num(pet_df)

AnimalID not numeric
Name not numeric
DateTime not numeric
OutcomeType not numeric
OutcomeSubtype not numeric
AnimalType not numeric
SexuponOutcome not numeric
AgeuponOutcome not numeric
Breed not numeric
Color not numeric

In [ ]:
# trim white spaces from columns names

In [ ]:
pet_df.columns

In [11]:
mfu.strip_col(pet_df)

In [12]:
pet_df.columns

Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [ ]:
# drop rows with null/empty values

In [13]:
pet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26729 entries, 0 to 26728
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalID        26729 non-null  object
 1   Name            19038 non-null  object
 2   DateTime        26729 non-null  object
 3   OutcomeType     26729 non-null  object
 4   OutcomeSubtype  13117 non-null  object
 5   AnimalType      26729 non-null  object
 6   SexuponOutcome  26728 non-null  object
 7   AgeuponOutcome  26711 non-null  object
 8   Breed           26729 non-null  object
 9   Color           26729 non-null  object
dtypes: object(10)
memory usage: 2.0+ MB

In [14]:
mfu.dropna_row(pet_df,pet_df.columns)

In [15]:
pet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6979 entries, 1 to 26721
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalID        6979 non-null   object
 1   Name            6979 non-null   object
 2   DateTime        6979 non-null   object
 3   OutcomeType     6979 non-null   object
 4   OutcomeSubtype  6979 non-null   object
 5   AnimalType      6979 non-null   object
 6   SexuponOutcome  6979 non-null   object
 7   AgeuponOutcome  6979 non-null   object
 8   Breed           6979 non-null   object
 9   Color           6979 non-null   object
dtypes: object(10)
memory usage: 599.8+ KB

In [25]:
# check unique values from intersting columns

In [26]:
pet_df.OutcomeType.unique()

array(['Euthanasia', 'Adoption', 'Transfer', 'Died'], dtype=object)

In [27]:
pet_df.OutcomeSubtype.unique()

array(['Suffering', 'Foster', 'Partner', 'Aggressive', 'Rabies Risk',
       'In Kennel', 'Medical', 'Offsite', 'Behavior', 'Barn', 'SCRP',
       'In Foster', 'Court/Investigation', 'Enroute', 'At Vet',
       'In Surgery'], dtype=object)

In [28]:
pet_df.SexuponOutcome.unique()

array(['Spayed Female', 'Neutered Male', 'Intact Female', 'Intact Male',
       'Unknown'], dtype=object)

In [29]:
pet_df.AgeuponOutcome.unique()

array(['1 year', '2 years', '1 month', '3 weeks', '4 years', '3 months',
       '2 months', '4 months', '3 years', '11 years', '6 months',
       '4 weeks', '12 years', '7 years', '7 months', '5 years',
       '5 months', '6 years', '15 years', '9 years', '10 years',
       '11 months', '8 months', '10 months', '8 years', '9 months',
       '6 days', '13 years', '5 weeks', '14 years', '16 years', '3 days',
       '1 week', '2 weeks', '17 years', '1 weeks', '18 years', '4 days',
       '19 years', '20 years'], dtype=object)

In [30]:
#Â we will try to reduce number of age parameters